# Copyright 2019-2021 Hetzner Online GmbH
#
# Licensed under the MIT License. See the LICENSE accompanying this file
# for the specific language governing permissions and limitations under
# the License.

SUBSYSTEM!="net", GOTO="hc_end"

ACTION=="remove", GOTO="hc_end"

ENV{ID_NET_NAME}!="", ENV{ID_NET_NAME_MAC}=="enx860000*",  TAG+="systemd", ENV{SYSTEMD_WANTS}+="hc-net-ifup@$env{ID_NET_NAME}", ENV{NM_UNMANAGED}="1"

LABEL="hc_end"
