Source: hc-utils
Section: admin
Priority: optional
Maintainer: Markus Schade <markus.schade@hetzner.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.3.0
Homepage: https://github.com/hetznercloud/hc-utils

Package: hc-utils
Architecture: all
Depends: 
 iproute2,
 curl
Description: A set of tools for the Hetzner Cloud platform
 hc-utils contains utilities to automatically configure
 Hetzner Cloud private network interfaces and block storage volumes
